body {
  margin: 0;
  background-color: bisque;
}
.items {
  display: flex;
  margin-right: auto;
  border: 1px solid burlywood;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 0;
  color: brown;
}
.item {
  list-style: none;
  border: 1px solid peru;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 12px;
  background-color: peru;
  box-shadow: 4px 4px 4px;
  color: brown;
}
.item:hover {
  background-color: chocolate;
}
.about {
  width: fit-content;
}
.title {
  text-align: center;
  margin-right: auto;
  list-style: none;
  margin-top: 1rem;
  font-size: 2rem;
}
.nav {
  background-color: burlywood;
}
.about-title {
  text-align: center;
  color: #944004;
}
.matter {
  font-size: 2rem;
  text-align: center;
  color: #a52a2ad5;
}


@media (width <=600px) {

 
  .item {
    list-style: none;
    border: 1px solid peru;
  
    font-size: 8px;
    border-radius: 4px;
    background-color: peru;
    box-shadow: 4px 4px 4px;
    color: brown;
    padding:1px;
    max-width: fit-content;
    padding:2px;
    margin-right: 4px;
  }
  .title {
    text-align: center;
    margin-right: auto;
    list-style: none;
    margin-top: 1rem;
    font-size:10px;
  }
  .matter{
    font-size: 20px;
  }
  .about-title{
    font-size: 25px;
  }  
}
