body {
  padding: 0;
  margin: 0;
  background-image: url("./download.jpg");
  color: brown;
}
.box {
  border: 1px solid white;
  width: fit-content;
  margin: auto;
  font-size: 2.2rem;
  padding: 2rem;
  margin-top: 50%;
  border-radius: 12px;
  box-shadow: 5px 5px 15px black;
  background-color: whitesmoke;
}
.btn {
  border: 1px solid;
  border-radius: 8px;
  padding: 0.4rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  box-shadow: 4px 4px 4px brown;
  background-color: peru;
  box-shadow: 4px 4px 4px;
  color: brown;
}
.register-btn {
  text-decoration: none;
  color: brown;
}
.btn:hover {
  background-color: burlywood;
}
.htno {
  width: 90%;
  border: 1px solid;
  font-size: 1.5rem;
  height: 20px;
  border-radius: 8px;
}
.password {
  width: 90%;
  border: 1px solid;
  font-size: 1.5rem;
  height: 20px;
  border-radius: 8px;
}
.notlogin {
  text-align: center;
  width: fit-content;
  margin: auto;
  position: relative;
  top: 140px;
  color: red;
}

@media (width >=600px) {
  .box {
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    padding: 1.5rem;
    margin-top: auto;
    border-radius: 12px;
  }
  .btn {
    border: 1px solid;
    border-radius: 14px;
    padding: 0.4rem;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1.5rem;
    background-color: peru;
    box-shadow: 4px 4px 4px;
    color: brown;
  }
  .register-btn {
    text-decoration: none;
    color: brown;
  }
  .htno {
    width: 90%;
    border: 1px solid;
    font-size: 1.5rem;
    height: 25px;
  }
  .password {
    width: 90%;
    border: 1px solid;
    font-size: 1.5rem;
    height: 25px;
  }
  .notlogin {
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    position: relative;
    top: 20px;
    color: red;
    background-color: white;
  }
  .btn:hover {
    background-color: burlywood;
  }
}
